si_prefix
pathlib
pytest
uuid
lxml
numpy
graphviz
git+git://github.com/grei-ufc/pade.git#egg=pade
git+git://github.com/grei-ufc/pade-fmi#egg=pade-fmi
git+git://github.com/bressanmarcos/pade-plus.git#egg=pade-plus
git+git://github.com/bressanmarcos/generateDS.git#egg=generateDS
git+git://github.com/bressanmarcos/cimrdf.py.git#egg=cimrdf.py