si_prefix
pathlib
pytest
uuid
lxml
numpy
graphviz
pade @ git+https://github.com/grei-ufc/pade.git
pade-fmi @ git+https://github.com/grei-ufc/pade-fmi
pade-plus @ git+https://github.com/bressanmarcos/pade-plus.git
generateDS @ git+https://github.com/bressanmarcos/generateDS.git
cimrdf.py @ git+https://github.com/bressanmarcos/cimrdf.py.git